/* Tela 720px */

@media (min-width:720px){

.box-branco{
width: 316px;
height: 476px;
}

img{
width: 276px;
height: 276px;
}

.title{
font-size: 21.6px;
}

.texto{
font-size: 16.5px;
}
}

/* Tela 992px */

@media (min-width:920px){

.box-branco{
width: 371.2px;
height: 551.2px;
}

img{
width: 331.2px;
height: 331.2px;
}

.title{
font-size: 25.92px;
}

.texto{
font-size: 18.8px;
}
}

    /* Tela 1200px */

@media (min-width:1200px){

.box-branco{
width: 437.44px;
height: 651.2px;
}

img{
width: 397.44px;
height: 397.44px;
}

.title{
font-size: 31.01px;
}

.texto{
font-size: 22.56px;
}
}